deploy/n8n_phase1_alerts.json
{
  "name": "TradingAgents - Phase 1 (Alerts Only)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * 1-5" }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Schedule (weekdays 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ---- EDIT YOUR WATCHLIST AND CAPS HERE ----\nconst watchlist = ['AAPL', 'MSFT', 'NVDA'];\nconst caps = {\n  account_size: 1000,   // $ in the dedicated trading account\n  per_trade_pct: 5,     // max % of account per position\n  max_positions: 3,     // max concurrent positions\n  daily_cap: 200        // max $ deployed per day\n};\n// -------------------------------------------\nconst today = new Date().toISOString().slice(0, 10);\nreturn watchlist.map((t) => ({\n  json: { ticker: t, date: today, asset_type: 'stock', ...caps }\n}));"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Build Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "options": { "reset": false }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Loop Over Tickers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TA_API_URL }}/analyze",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "ticker", "value": "={{ $json.ticker }}" },
            { "name": "date", "value": "={{ $json.date }}" },
            { "name": "asset_type", "value": "={{ $json.asset_type }}" }
          ]
        },
        "options": { "timeout": 900000 }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Analyze (TradingAgents API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge the API decision with the caps carried on the original item,\n// build the alert text, and flag whether it is actionable.\nconst d = $json;\nconst action = d.action || 'HOLD';\nconst actionable = action !== 'HOLD';\n\n// Advisory position size in Phase 1 (NOT executed). In Phase 2 the risk\n// gate uses this to size the real paper/live order.\nconst acct = Number(d.account_size || 0);\nconst pct = Number(d.per_trade_pct || 0);\nconst dailyCap = Number(d.daily_cap || Infinity);\nconst suggested = Math.min((acct * pct) / 100, dailyCap);\n\nconst msg = [\n  `${d.ticker} (${d.date})`,\n  `Rating: ${d.rating}  ->  ${action} [${d.confidence}]`,\n  actionable ? `Suggested max position: $${suggested.toFixed(0)} (advisory only)` : 'No action suggested (HOLD)',\n  '',\n  String(d.reasoning || '').slice(0, 1200)\n].join('\\n');\n\nreturn { json: { ...d, action, actionable, suggested_position: suggested, message: msg } };"
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Format & Risk Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Decisions" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "ticker": "={{ $json.ticker }}",
            "rating": "={{ $json.rating }}",
            "action": "={{ $json.action }}",
            "confidence": "={{ $json.confidence }}",
            "suggested_position": "={{ $json.suggested_position }}",
            "reasoning": "={{ String($json.reasoning || '').slice(0, 500) }}"
          }
        },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Log to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1180, 200],
      "notesInFlow": true,
      "notes": "Optional. Delete if you do not want logging. Needs a Google Sheets credential + a sheet with a header row: date, ticker, rating, action, confidence, suggested_position, reasoning."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.actionable }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Actionable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1420, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1660, 120],
      "notesInFlow": true,
      "notes": "Swap for an Email / Slack node if you prefer. Needs a Telegram Bot credential + your chat id in TELEGRAM_CHAT_ID."
    },
    {
      "parameters": {},
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "All Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [700, 440]
    }
  ],
  "connections": {
    "Schedule (weekdays 8am)": {
      "main": [[{ "node": "Build Jobs", "type": "main", "index": 0 }]]
    },
    "Build Jobs": {
      "main": [[{ "node": "Loop Over Tickers", "type": "main", "index": 0 }]]
    },
    "Loop Over Tickers": {
      "main": [
        [{ "node": "All Done", "type": "main", "index": 0 }],
        [{ "node": "Analyze (TradingAgents API)", "type": "main", "index": 0 }]
      ]
    },
    "Analyze (TradingAgents API)": {
      "main": [[{ "node": "Format & Risk Gate", "type": "main", "index": 0 }]]
    },
    "Format & Risk Gate": {
      "main": [[{ "node": "Log to Google Sheet", "type": "main", "index": 0 }]]
    },
    "Log to Google Sheet": {
      "main": [[{ "node": "Actionable?", "type": "main", "index": 0 }]]
    },
    "Actionable?": {
      "main": [
        [{ "node": "Telegram Alert", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Tickers", "type": "main", "index": 0 }]
      ]
    },
    "Telegram Alert": {
      "main": [[{ "node": "Loop Over Tickers", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
